In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vine_table.csv')
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y

In [5]:
df_votes_20 = df[df['total_votes']>= 20]

In [11]:
percentage = df_votes_20['helpful_votes'] / df_votes_20['total_votes']
df_percentage_50 = df_votes_20[percentage >= 0.5]

In [13]:
df_paid = df_percentage_50[df_percentage_50['vine']=='Y']

In [14]:
df_unpaid = df_percentage_50[df_percentage_50['vine']=='N']

In [29]:
total_reviews_paid = df_paid['review_id'].count()
five_star_reviews_paid = df_paid['review_id'][df_paid['star_rating']==5].count()
percentage_of_five_star_reviews_paid = five_star_reviews_paid / total_reviews_paid * 100

In [31]:
total_reviews_unpaid = df_unpaid['review_id'].count()
five_star_reviews_unpaid = df_unpaid['review_id'][df_unpaid['star_rating']==5].count()
percentage_of_five_star_reviews_unpaid = five_star_reviews_unpaid / total_reviews_unpaid * 100

In [44]:
d = {
    'total_reviews' : [total_reviews_paid,total_reviews_unpaid],
    'five_star_reviews' : [five_star_reviews_paid,five_star_reviews_unpaid],
    'percentage_of_five_star_reviews' : [round(percentage_of_five_star_reviews_paid,2),round(percentage_of_five_star_reviews_unpaid,2)]
}
summary_df = pd.DataFrame(data=d, index=['paid', 'unpaid'])

In [45]:
summary_df

        total_reviews  five_star_reviews  percentage_of_five_star_reviews
paid               47                 15                            31.91
unpaid           8362               4332                            51.81